<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="danger" defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>
            REGISTRO DE INGRESO
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <div>

    </div>
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="GuardarUsuario()">
        <ion-list color="dark">
            <ion-item color="dark">
                <ion-label>Estado Del Cliente </ion-label>
                <ion-select color="danger" formControlName="estado" [class.is-invalid]="validacionEstado" placeholder="Seleccionar">
                    <ion-select-option>activo</ion-select-option>
                    <ion-select-option>desactivo</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item color="dark">
                <ion-label position="floating">FECHA DE CREACION:</ion-label>
                <ion-input type="text" formControlName="fecha" readonly [class.is-invalid]="validacionFecha" [(ngModel)]="fecha"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionFecha" color="danger">
                <div>Campo Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">NOMBRES Y APELLIDOS:</ion-label>
                <ion-input type="text" formControlName="nombre" [class.is-invalid]="validacionNombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionFecha" color="danger">
                <div>Campo Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">CEDULA DE CIUDADANIA:</ion-label>
                <ion-input type="number" formControlName="cedula" [class.is-invalid]="validacionCedula"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionFecha" color="danger">
                <div>Campo Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-row>
                    <ion-col>
                        <ion-label position="floating">RH:</ion-label>
                        <ion-input type="text" formControlName="rh" [class.is-invalid]="validacionRh"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position="floating">EDAD:</ion-label>
                        <ion-input type="text" formControlName="edad" [class.is-invalid]="validacionEdad"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position="floating">SEXO:</ion-label>
                        <ion-input type="text" formControlName="sexo" [class.is-invalid]="validacionSexo"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item *ngIf="validacionRh" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>

            <ion-item *ngIf="validacionEdad" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>
            <ion-item *ngIf="validacionSexo" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">FECHA DE NACIMIENTOS:</ion-label>
                <ion-input type="date" formControlName="fechaNacimiento" [class.is-invalid]="validacionFechaNacimiento"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionFechaNacimiento" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>

            <ion-item color="dark">
                <ion-label position="floating">CELULAR:</ion-label>
                <ion-input type="text" formControlName="celular" [class.is-invalid]="validacionCelular"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionCelular" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">EMAIL:</ion-label>
                <ion-input type="email" formControlName="email" [class.is-invalid]="validacionEmail"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionEmail" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>



            <ion-item color="dark">
                <ion-label position="floating">REALIZA ACTIVIDAD FISICA(SI O NO):</ion-label>
                <ion-input type="text" formControlName="actividadFisica" [class.is-invalid]="validacionActividadFisica"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionActividadFisica" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">DEPORTE QUE PRACTICA:</ion-label>
                <ion-input type="text" formControlName="deportePractica" [class.is-invalid]="validacionDeportePractica"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionDeportePractica" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="danger">
                <ion-label align="center">SIGNOS VITALES Y MEDIDAS ANTROPOMETRICAS</ion-label>
            </ion-item>



            <ion-item color="dark">
                <ion-label position="floating">FRECUENCIA ARTERIAL:</ion-label>
                <ion-input type="text" formControlName="frecuenciaArterial" [class.is-invalid]="validacioFrecuenciaArterial"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacioFrecuenciaArterial" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">FRECUENCIA CARDIACA:</ion-label>
                <ion-input type="text" formControlName="frecuenciaCardiaca" [class.is-invalid]="validacionFrecuenciaCardiaca"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionFrecuenciaCardiaca" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">ESTATURA:</ion-label>
                <ion-input type="text" formControlName="estatura" [class.is-invalid]="validacionEstatura"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionEstatura" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">PESO:</ion-label>
                <ion-input type="text" formControlName="peso" [class.is-invalid]="validacionPeso"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionPeso" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">INDICE DE MASA CORPORAL:</ion-label>
                <ion-input type="text" formControlName="masaCorporal" [class.is-invalid]="validacionMasaCorporal"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionMasaCorporal" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">INDICE DE GRASA CORPORAL:</ion-label>
                <ion-input type="text" formControlName="grasaCorporal" [class.is-invalid]="validacionGrasaCorporal"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionGrasaCorporal" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="danger">
                <ion-label align="center">TEST</ion-label>
            </ion-item>

            <ion-item color="dark">
                <h6>¿Alguna vez su médico le ha dicho que tiene algún problema en el corazón, y solo debe realizar actividad fisica bajo recomendaciones médicas?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionUno" [class.is-invalid]="validacionUno"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionUno" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿Usted presenta dolor o molestia en el pecho, estando en reposo?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionDos" [class.is-invalid]="validacionDos"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionDos" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿En el ultimo mes,ha tenido dolor en el pecho estando en reposo?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionTres" [class.is-invalid]="validacionTres"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionTres" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿Pierde balance o sufre de mareo, vértigo o alguna perdida del conocimiento?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionCuatro" [class.is-invalid]="validacionCuatro"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionCuatro" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿Tiene algún problema en los huesos o las arteculaciones, que pueda empeorar con la actividad física?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionCinco" [class.is-invalid]="validacionCinco"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionCinco" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿Su médico le ha formulado medicamentos para la presión arterial o el corazón?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionSeis" [class.is-invalid]="validacionSeis"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionSeis" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <h6>¿Conoce alguna otra razón por la cual usted no debe realizar alguna actividad física?</h6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder="Respuesta" formControlName="recomendacionSiete" [class.is-invalid]="validacionSiete"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionSiete" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>



            <ion-item color="danger">
                <ion-label align="center">CONTROL DE MEDIDAS</ion-label>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">PECHO:</ion-label>
                <ion-input type="text" formControlName="pecho" [class.is-invalid]="validacionPecho"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionPecho" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <H6 position="floating">BRAZO:</H6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder=" DERECHO" formControlName="brazoDerecho" [class.is-invalid]="validacionBrazoDerecho"></ion-input>
                <ion-input type="text" placeholder=" IZQUIERDO" formControlName="brazoIzquierdo" [class.is-invalid]="validacionBrazoIzquierdo"></ion-input>

            </ion-item>
            <ion-item *ngIf="validacionBrazoDerecho" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>
            <ion-item *ngIf="validacionBrazoIzquierdo" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <H6 position="floating">ANTEBRAZO:</H6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder=" DERECHO" formControlName="antebrazoDerecho" [class.is-invalid]="validacionAntebrazoDerecho"></ion-input>
                <ion-input type="text" placeholder=" IZQUIERDO" formControlName="antebrazoIzquierdo" [class.is-invalid]="validacionAntebrazoizquierdo"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionAntebrazoDerecho" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>
            <ion-item *ngIf="validacionAntebrazoizquierdo" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">ABDOMEN SUPERIOR:</ion-label>
                <ion-input type="text" formControlName="abdomenSuperior" [class.is-invalid]="validacionAbdomenSuperior"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionAbdomenSuperior" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">ABDOMEN MEDIO:</ion-label>
                <ion-input type="text" formControlName="abdomenMedio" [class.is-invalid]="validacionAbdomenMedio"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionAbdomenMedio" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">CINTURA:</ion-label>
                <ion-input type="text" formControlName="cintura" [class.is-invalid]="validacionCintura"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionCintura" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <ion-label position="floating">CADERA:</ion-label>
                <ion-input type="text" formControlName="cadera" [class.is-invalid]="validacionCadera"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionCadera" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <H6 position="floating">PIERNA:</H6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder=" DERECHA" formControlName="piernaDerecha" [class.is-invalid]="validacionPiernaDerecha"></ion-input>
                <ion-input type="text" placeholder=" IZQUIERDO" formControlName="piernaIzquierda" [class.is-invalid]="validacionPiernaIzquierda"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionPiernaDerecha" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>
            <ion-item *ngIf="validacionPiernaIzquierda" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


            <ion-item color="dark">
                <H6 position="floating">PANTORRILLA:</H6>
            </ion-item>


            <ion-item color="dark">
                <ion-input type="text" placeholder=" DERECHO" formControlName="pantorrillaDerecha" [class.is-invalid]="validacionPantorrillaDerecha"></ion-input>
                <ion-input type="text" placeholder=" IZQUIERDO" formControlName="pantorrillaIzquierda" [class.is-invalid]="validacionPantorrillaIzquierda"></ion-input>
            </ion-item>
            <ion-item *ngIf="validacionPantorrillaDerecha" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>
            <ion-item *ngIf="validacionPantorrillaIzquierda" color="danger">
                <div>Campos Obligatorio</div>
            </ion-item>


        </ion-list>

        <ion-button expand="full" type="submit">Guardar Usuario</ion-button>
    </form>



</ion-content>