<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Ingreso de Usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <form color="dark">
        <ion-row>
            <ion-col>
                <ion-item lines="full" color="dark">
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input type="email" #email required></ion-input>
                </ion-item>
                <ion-item lines="full" color="dark">
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input type="password" #password required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" (click)="onLogin(email, password)" expand="block">Ingresar</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="ion-text-center">
                    <a routerLink="/recuperar">Recuperar mi contraseña</a>
                </p>
            </ion-col>
        </ion-row>
    </form>
</ion-content>